body, html {
    height: 100%;
}

body {
    font-family: "JetBrains Mono", "Fira Code", "Source Code Pro", monospace;
    font-size: 18px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #dfdfdf;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    box-sizing: border-box;
    position: sticky;
}

header {
    top: 0;
}

footer {
    margin-top: auto;
    bottom: 0;
}

main {
    flex: 1;
    min-width: 500px;
    max-width: 60vw;
    margin: auto;
    padding: 25px;
    background-color: #00000011;
    box-sizing: border-box;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: white;
    }
    header, footer {
        background-color: #333;
    }
}
